$bg-header: url('../img/backgrounds/01.svg');
$bg-header-mobile: url('../img/backgrounds/01-mobile.svg');
$header-banner-logo: url('../img/logo.png');

.header {
  position: relative;
  overflow: hidden;

  background: $bg-header;
  background-position: center top;
  background-size: cover;

  padding: 36px 0 0 0;
  margin: 0 0 50px 0;

  @include maxLaptop {
    background-position: right 44% center;
  }

  @include maxTablet {
    background: $bg-header-mobile right center / cover;
    padding: 30px 0 0 0;
  }

  @include maxMobile {
    background: $bg-header right top / cover;
    padding: 14px 0 0 0;
  }

  @include maxMobileSmall {
    margin: 0 0 40px 0;
  }

  &__bg-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 5;

    transform: translateX(-45%);

    @include maxLaptop {
      display: none;
    }

    @include maxTablet {
      display: block;
      left: -110px;
      bottom: -2%;
      transform: translateX(0%);
    }

    @include maxMobile {
      display: none;
    }
  }

  &__content {
    padding: 65px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include maxLaptop {
      flex-direction: column;
      gap: 40px;

      padding: 30px 0;
    }
  }

  &__column {
    &--1 {
      @include noMarginBottom;
      max-width: 480px;

      @include maxLaptop {
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    &--2 {
      @include maxTablet {
        align-self: flex-end;
      }

      @include maxMobile {
        align-self: center;
      }
    }
  }

  &__banner {
    position: relative;

    background: $white;
    border-radius: 12px;

    padding: 15px 20px 15px 75px;
    margin: 0 0 20px 0;

    display: inline-flex;
    justify-content: end;

    color: $black-1;
    font-size: rem(22);
    font-weight: 500;
    text-transform: uppercase;

    &:before {
      content: '';
      background: $header-banner-logo;
      background-size: cover;
      position: absolute;
      bottom: 10px;
      left: 8px;

      width: 56px;
      height: 56px;

      z-index: 10;

      @include maxMobileSmall {
        width: 40px;
        height: 40px;
      }
    }

    @include maxTablet {
      align-self: center;
      margin: 0 0 25px 0;
    }

    @include maxMobileSmall {
      display: flex;
      font-size: rem(16);
      padding: 15px 15px 15px 60px;
    }
  }

  &__title {
    font-size: rem(48);
    font-weight: 600;
    line-height: math.div(54, 48);
    text-transform: uppercase;

    margin: 0 0 15px 0;

    @include maxTablet {
      font-size: rem(40);
      margin: 0 0 5px 0;
    }

    @include maxMobileSmall {
      font-size: rem(36);
      margin: 0 0 18px 0;
    }
  }

  &__description {
    font-size: rem(27);
    font-weight: 400;
    line-height: math.div(36, 27);

    margin: 0 0 110px 0;

    @include maxLaptop {
      margin: 0 0 10px 0;
    }

    @include maxMobileSmall {
      font-size: rem(20);
      margin: 0 0 18px 0;
    }
  }

  &__warning {
    max-width: 300px;

    font-size: rem(14);
    font-weight: 300;
    line-height: math.div(20, 14);

    @include maxLaptop {
      max-width: 100%;
    }
  }
}

/* ================= Mobile Menu Toggle ================= */

.icon-menu {
  cursor: pointer;
  display: none;

  position: relative;
  width: rem(20);
  height: rem(17);
  z-index: 200;

  span,
  &::before,
  &::after {
    content: '';
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(3);
    background-color: $orange-1;
    border-radius: 8px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - rem(1));
  }

  &--toggled {
    span {
      width: 0;
    }

    &::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - rem(2));
      transform: rotate(45deg);
    }
  }

  @media (max-width: $mobile) {
    display: block;
  }
}
