header.header
  div.header__container
    div.header__menu
      include ../../menu/menu.pug
      include ../../mobile-menu/mobile-menu.pug
    div.header__content
      div.header__column(class="header__column--1")
        div.header__banner Горячие предложения 
        h1.header__title быстрых займов по всей России! 
        div.header__description Без проверки кредитной истории. От 1 000 ₽ за 15 минут. 
        div.header__warning Внимание! Услуга обработки заявки платная и составляет от 98 ₽ до 398 ₽ раз в неделю
      div.header__column(class="header__column--2")
        include ../../quick-form/quick-form.pug

