include ../../review-card/review-card.pug

-
    var reviews = [
        {
            img: "img/users/01.jpg",
            user: "Екатерина Романова, 26 лет",
            location: "г. Москва",
            quote: "Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная история и имеются ли текущие просрочки.",
            rating: 4
        },
        {
            img: "img/users/02.jpg",
            user: "Екатерина Романова, 33 года ",
            location: "г. Москва",
            quote: "Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная история и имеются ли текущие просрочки.",
            rating: 4
        },    
        {
            img: "img/users/03.jpg",
            user: "Екатерина Романова, 26 лет",
            location: "г. Москва",
            quote: "Для того, чтобы воспользоваться услугой, вам необходимо лишь заполнить анкету на сайте, все остальное сервис сделает за вас, сэкономив вам большое количество времени и сил. Наш сервис работает со всеми клиентами, нам не важно, какая у вас кредитная история и имеются ли текущие просрочки.",
            rating: 4
        }]

section.reviews
    div.reviews__container
        div.reviews__content
            h2.reviews__title(class="section-title") Почему выбирают нас
            div.reviews__cards
                each item in reviews
                    +review-card(item.img, item.user, item.location, item.quote, item.rating)
            div.reviews__buttons
                a.reviews__submit(class="submit-btn") Оформить заявку
                a.reviews__all Все отзывы