.options {
  margin: 0 0 110px 0;

  @include maxMobile {
    margin: 0 0 90px 0;
  }

  &__content {
    @include noMarginBottom;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0 0 14px 0;

    @include maxMobile {
      margin: 0 0 20px 0;
    }
  }

  &__list {
    display: flex;
    gap: 7px;

    color: $black-2;
    font-size: rem(13);
    font-weight: 300;
    line-height: math.div(19, 13);

    margin: 0 0 80px 0;

    @include maxMobile {
      margin: 0 0 55px 0;
    }
  }

  &__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;

    margin: 0 0 55px 0;

    @include maxTablet {
      gap: 55px;
    }
  }

  &__images-item {
    min-height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }

  &__images-icon {
    font-size: rem(10);

    &:before {
      color: $gray-5;
    }
  }
}
