$mainColor: rgb(255, 255, 255); // default color

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$black-1: rgb(60, 66, 96);
$black-2: rgb(69, 81, 95);
$black-3: rgb(83, 100, 115);

$yellow-1: rgb(255, 200, 62);

$orange-1: rgb(255, 123, 0);
$orange-2: rgb(242, 137, 37);
$orange-3: rgb(255, 161, 71);
$orange-4: rgb(250, 89, 20);
$orange-5: rgb(254, 179, 0);
$orange-6: rgb(255, 175, 71);

$gray-1: rgb(236, 236, 236);
$gray-2: rgb(192, 194, 197);
$gray-3: rgb(214, 211, 211);
$gray-4: rgb(207, 213, 221);
$gray-5: rgb(175, 175, 175);
$gray-6: rgb(147, 160, 171);
$gray-7: rgb(199, 206, 214);
$gray-8: rgb(201, 210, 221);

$blue-1: rgb(3, 29, 105);

$gradient-orange: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
$gradient-orange-reverse: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);