.offers {
  margin: 0 0 95px 0;

  @include maxTablet {
    margin: 0 0 70px 0;
  }

  @include maxMobileSmall {
    margin: 0 0 50px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  &__cards {
    @extend %cardsContainer;
    
    display: flex;
    justify-content: center;
    gap: 28px;

    @include maxLaptop {
      flex-wrap: wrap;
    }

    @include maxMobile {
      gap: 15px;
    }
  }

  &__warning {
    color: $black-2;
    font-size: rem(13);
    font-weight: 300;
    line-height: math.div(19, 13);
    text-align: center;
  }
}
