.review-card {
  @include noMarginBottom;

  background: $white;
  border-radius: 22px;

  min-width: 360px;
  max-width: 408px;
  padding: 50px 40px 45px 50px;

  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(12px);

  @include maxMobileSmall {
    min-width: 250px;
    padding: 25px;
  }

  &__img {
    width: 96px;
    height: 96px;

    border-radius: 50%;

    margin: 0 0 27px 0;
  }

  &__user {
    color: $black-2;
    font-size: rem(18);
    font-weight: 700;
    line-height: math.div(21, 18);

    margin: 0 0 20px 0;
  }

  &__location {
    display: flex;
    gap: 8px;

    margin: 0 0 17px 0;
  }

  &__location-text {
    color: $gray-6;
    font-size: rem(15);
    font-weight: 400;
    line-height: math.div(18, 15);
  }

  &__location-icon {
    &:before {
      color: $orange-3;
    }
  }

  &__quote {
    color: $black-3;
    font-weight: 300;
    line-height: math.div(19, 16);

    margin: 0 0 27px 0;
  }

  &__rating {
    display: flex;
    gap: 4px;
  }

  &__star {
    &:before {
      color: $gray-7;
    }

    &--active {
      &:before {
        color: $orange-5;
      }
    }
  }
}
