div.menu
    include ../logo/logo.pug
    ul.menu__list
        li.menu__list-item
            a.menu__list-link(href="#") Почему мы?
        li.menu__list-item
            a.menu__list-link(href="#") О сервисе
        li.menu__list-item
            a.menu__list-link(href="#") Вопросы-ответы
    a.menu__btn-login вход в личный кабинет
    a.menu__btn-login(class="menu__btn-login--small") вход в кабинет
