div.mobile-menu
    include ../logo/logo.pug
    a.mobile-menu__btn-login вход в кабинет
    ul.mobile-menu__list
        li.mobile-menu__list-item
            a.mobile-menu__list-link(href="#") Почему мы?
        li.mobile-menu__list-item
            a.mobile-menu__list-link(href="#") О сервисе
        li.mobile-menu__list-item
            a.mobile-menu__list-link(href="#") Вопросы-ответы
    div.mobile-menu__icon-menu-wrapper
        div.icon-menu
            span 
            span 
            span 
