include ../../client-card/client-card.pug

-
    var clients = [
        {
            className: "client-card--decline",
            type: "decline",
            user: "Екатерина Романова",
            description: "Получила отказ 45 сек назад",
            location: "г. Москва"
        },    
        {
            className: "client-card--accept",
            type: "accept",
            user: "Игорь Николаев",
            description: "Взял 5 000 ₽ 2 мин назад",
            location: "г. Москва"
        },
        {
            className: "client-card--payback",
            type: "payback",
            user: "Светлана Борисовна",
            description: "Внес на счет 12 000 ₽ 45 сек назад",
            location: "г. Москва"
        }]

section.clients 
    div.clients__container
        div.clients__content 
            h2.clients__title Наши клиенты
            div.clients__cards
                each item in clients
                    +client-card(item.className, item.type, item.user, item.description, item.location)