$bg-clients: url('../img/backgrounds/02.png');

.clients {
  background: $bg-clients center center / cover;
  padding: 55px 0;
  margin: 0 0 55px 0;

  @include maxMobile {
    margin: 0 0 40px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 37px;
  }

  &__title {
    color: $white;
    font-size: rem(38);
    font-weight: 600;
    line-height: math.div(45, 38);
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 27px;

    @include maxLaptop {
      > div:nth-child(n + 3) {
        display: none;
      }
    }

    @include maxTablet {
      > div:nth-child(n + 2) {
        display: none;
      }
    }
  }
}
