section.how 
    div.how__container
        div.how__content
            h2.how__title(class="section-title") Как получить деньги
            div.how__steps
                div.how__step(class="how__step--active")
                    div.how__step-icon(class="icon-amount")
                    div.how__step-bullet 1
                    div.how__step-description Выберите сумму займа
                div.how__step
                    div.how__step-icon(class="icon-document")
                    div.how__step-bullet 2
                    div.how__step-description Заполните анкету
                div.how__step
                    div.how__step-icon(class="icon-review")
                    div.how__step-bullet 3
                    div.how__step-description Дождитесь рассмотрения заявки
                div.how__step
                    div.how__step-icon(class="icon-wallet")
                    div.how__step-bullet 4
                    div.how__step-description Получите деньги любым удобным способом
            a.how__submit(class="submit-btn") Оформить заявку
