.how {
  margin: 0 0 110px 0;

  @include maxMobile {
    margin: 0 0 90px 0;
  }

  &__content {
    @include noMarginBottom;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__title {
    @include maxTablet {
      margin: 0 0 30px 0;
    }
  }

  &__steps {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include maxTablet {
      align-items: center;
      flex-direction: column;
      gap: 70px;
    }
  }

  &__step {
    @include noMarginBottom;
    max-width: 250px;

    display: flex;
    align-items: center;
    flex-direction: column;

    &--active {
      .how__step-icon {
        color: $orange-3;
      }

      .how__step-bullet {
        background: $orange-3;
        color: $white;

        &:before {
          display: block;
        }
      }
    }

    @include maxLaptop {
      max-width: 200px;
    }

    @include maxTablet {
      max-width: 300px;
      flex-direction: row;
      gap: 30px;
    }
  }

  &__step-icon {
    color: $gray-4;
    font-size: rem(60);

    margin: 0 0 35px 0;

    @include maxTablet {
      flex: 0 0 auto;
    }
  }

  &__step-bullet {
    position: relative;
    border-radius: 50%;

    width: 34px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $gray-3;
    font-size: rem(16);
    font-weight: 500;

    margin: 0 0 20px 0;

    &:before {
      display: none;

      content: '';
      background: $gradient-orange;
      border-radius: 8px;
      position: absolute;
      top: 50%;
      left: -140px;

      width: 150px;
      height: 7px;

      transform: translateY(-50%);

      @include maxLaptop {
        width: 75px;
        left: -70px;
      }

      @include maxTablet {
        width: 7px;
        height: 75px;
        left: 50%;
        top: -70px;
        transform: translate(-50%, 0) rotate(180deg);
      }
    }

    @include maxTablet {
      flex: 0 0 auto;
    }
  }

  &__step-description {
    color: $black-2;
    font-size: rem(18);
    font-weight: 300;
    line-height: math.div(24, 18);
    text-align: center;

    @include maxTablet {
      text-align: left;
    }
  }
}
