section.now
    div.now__container
        div.now__content 
            div.now__column(class="now__column--1")
                h2.now__title(class="section-title") Получи деньги здесь и сейчас
                div.now__text Без проверки кредитной истории. От 1 000 ₽ за 15 минут.
                a.now__submit(class="submit-btn") Оформить заявку
            div.now__column(class="now__column--2")
                img.now__img(src="img/common/01.png", alt="Young Woman")
