.now {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include maxTablet {
      flex-direction: column;
      gap: 30px;
    }

    @include maxMobile {
        gap: 0px;
    }
  }

  &__title {
    text-align: left;

    @include maxTablet {
        text-align: center;
    }
  }

  &__column {
    &--1 {
      max-width: 600px;

      display: flex;
      flex-direction: column;
      gap: 28px;

      @include maxTablet {
          align-items:center;
      }
    }

    &--2 {
    }
  }

  &__text {
    color: $black-3;
    font-size: rem(27);
    font-weight: 400;
    line-height: math.div(36, 27);

    @include maxTablet {
        max-width: 400px;
        text-align: center;
    }

    @include maxMobile {
      font-size: rem(22);
    }
  }
}
