mixin question-card(title, text)    
    div.question-card
        div.question-card__header
            div.question-card__title=title
            div.question-card__icon
                i(class="fa-solid fa-angle-down")
        div.question-card__text=text