div.quick-form
    form.quick-form__form(action="POST")
        div.quick-form__form-row
            div.quick-form__form-row-title Cумма кредита
            div.quick-form__loan-slider
            div.quick-form__range
                div.quick-form__range-min 1 000 ₽ 
                div.quick-form__range-max 100 000 ₽ 
        div.quick-form__form-row
            div.quick-form__form-row-title Cрок кредита
            div.quick-form__time-slider
            div.quick-form__range
                div.quick-form__range-min 3
                div.quick-from__range-max 30
        button.quick-form__submit(class="submit-btn" type="submit") Оформить заявку
    div.quick-form__content
        div.quick-form__content-column
            div.quick-form__content-cell
                div.quick-form__cell-title Вы берете
                div.quick-form__cell-amount 20 000 ₽ 
            div.quick-form__content-cell
                div.quick-form__cell-title Дата возврата
                div.quick-form__cell-amount 08 января 2022
        div.quick-form__content-column
            div.quick-form__content-cell
                div.quick-form__cell-title К возврату
                div.quick-form__cell-amount 25 650 ₽ 
            div.quick-form__content-cell
                div.quick-form__cell-title Ежемесячный платеж
                div.quick-form__cell-amount 5 650 ₽ 
