.submit-btn {
  @extend %hover;
  max-width: 275px;

  position: relative;
  overflow: hidden;

  background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff7347 73.78%);
  border-radius: 8px;

  padding: 22px 45px;

  font-size: rem(18);
  font-weight: 700;
  text-transform: uppercase;

  &:before {
    content: '';
    background: linear-gradient(
      277.21deg,
      #ffffff -80.07%,
      rgba(255, 255, 255, 0) 51.66%
    );

    position: absolute;
    top: -70%;
    left: 0;
    width: 50%;
    height: 200%;
    transform: rotate(30deg);

    opacity: 0.4;
  }

  @include maxMobileSmall {
    font-size: rem(14);
  }
}

.section-title {
  color: $black-2;
  font-size: rem(38);
  font-weight: 600;
  line-height: math.div(45, 38);
  text-align: center;
}
