@use 'sass:math';

@import 'base/colors';

/* ================= Connect Mixins ================= */

@import 'base/mixins';

/* ================= Fonts ================= */

//&display=swap - add to the font url if google fonts are connected via VSCode plugin

/* ================= Icon Font ================= */

// Connect icon font if any
@import 'fonts/icons';

// Connect fontawesome
@import 'fonts/fonts';
@import 'fonts/fontawesome/fontawesome';
@import 'fonts/fontawesome/solid';
@import 'fonts/fontawesome/brands';

/* ================= Default Font ================= */

$fontFamily: 'Rubik', sans-serif;
$fontSize: rem(16); // 16 - default font size

// Colors

$transitionDuration: 0.2s ease-in;

/* ================= General Settings ================= */

// Min page width
$minWidth: 320;
// Max page width
$maxWidth: 1920;
// Width of the content container. If set to 0, container will have no max width.
$maxWidthContainer: 1275;
// Side padding of the container
// 30 / 2 = 15px on both sides
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth); // PC, Landscape Tablet
$laptop: em(1439.98);
$tablet: em(991.98); // Tablet, landscape phones
$mobile: em(767.98); // Phone L
$mobileSmall: em(479.98); // Phone S

// Responsiveness type:
// Responsive all the time
// Responsive according to the breakpoints i.e. the container changes its width at breakpoints
$responsiveType: 1;

/* ================= General styles and reset ================= */

@import 'base/null';

body {
  background: white;
  // Scroll is locked
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // Page has been loaded
  .loaded & {
    visibility: visible;
  }
}

/* ================= Custom Scrollbar ================= */

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: #ffb64800;
}

body::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.904);
}

body::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 25px;
  background: $orange-2;
}

/* ================= Page Wrapper ================= */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

/*
This will be applied to all elements with class *__container. E.g. header__container. 
*/
@if ($responsiveType==1) {
  // Responsive
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // According to breakpoints
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Connect base styles, templates and auxiliary classes

@import 'base';

// Connect BEM Modules
@import '../modules/logo/logo';
@import '../modules/menu/menu';
@import '../modules/mobile-menu/mobile-menu';
@import '../modules/quick-form/quick-form';
@import '../modules/offer-card/offer-card';
@import '../modules/review-card/review-card';
@import '../modules/client-card/client-card';
@import '../modules/question-card/question-card';

// Connect common styles
@import 'common';

// Connect section styles
@import '../modules/sections/header/header';
@import '../modules/sections/footer/footer';
@import '../modules/sections/offers/offers';
@import '../modules/sections/how/how';
@import '../modules/sections/options/options';
@import '../modules/sections/reviews/reviews';
@import '../modules/sections/clients/clients';
@import '../modules/sections/about/about';
@import '../modules/sections/faq/faq';
@import '../modules/sections/now/now';

